/* to do consolidate and comment throughout 
portfolio - fix title background, add hover, overlay on background image
css variables - maybe font family/style/colour.
*/

/* to do look at css classes for redundancies eg h2s in html too    */

:root {
  --font-color: white;
}

html {
  font-size: 10px;
  color: var(--font-color);
}

/* to do style make font sizes responsive maybe different sizes
for different viewports. make h1 animated for desktop */
/* This section targets using type selector cos these elements maybe be repeated 
at top to make it easier to see whats happening */
.title {
  font-size: 10rem;
  font-family: fantasy;
}

h2 {
  font-size: 6rem;
  text-align: center;
}

h3 {
  font-size: 4rem;
}

p {
  font-size: 2rem;
  font-family: monospace;
}

.cursive {
  font-family: cursive;
}
.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.body-container {
  display: flex;
  height: 100%;
}

.navbar-container {
  display: flex;
  flex-basis: 30%;
  padding: 4rem;
  flex-grow: 1;
}

/* to do figure out how to make fixed and fit inside box */
.navbar-items-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-container ul li {
  margin: 1rem;
  margin-top: 8rem;
  font-size: 2rem;
  flex-grow: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.about-container {
  padding: 1rem;
  margin-bottom: 1rem;
}

.about-image {
  border-radius: 60%;
}

.contact-container {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-item-container {
  margin: 3rem;
}

.contact-me-info-container {
  float: right;
  margin: 1rem;
  max-width: 8rem;
}
.logo-image-container {
  float: left;
}

.logo-image {
  border-radius: 100%;
  height: 8rem;
  width: 8rem;
}

.portfolio-container {
  padding: 1rem;
  margin-bottom: 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 1rem;
  padding: 1rem;
  height: 30rem;
  width: 35vw;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-title {
  margin-bottom: 1rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8))
    rgba(100, 100, 99, 0.589);
  border-radius: 5px;
}

.card:first-child {
  background-image: url(../images/horiseon.png);
  width: 75vw;
}

.card:not(:first-child) {
  background-image: url(../images/coming-soon.jpg);
}

/* This media query is to animate the title just for the desktop viewport */
@media screen and (min-width: 768px) {
  .main-container {
    position: relative;
  }

  .title {
    position: absolute;
  }

  .title--animated {
    animation: titleBounceDown 3s ease-in-out;
  }

  .about-container {
    margin-top: 12rem;
    margin-bottom: 2rem;
  }

  @keyframes titleBounceDown {
    0% {
      transform: translateY(-20rem);
    }

    50% {
      transform: translateY(5rem);
    }

    100% {
      transform: translateY(0);
    }
  }
}

/* to do figure out how to shrink title  */
/* This media query is a hacky fix for the title size I couldn't shrink  */
@media screen and (max-width: 850px) {
  .title {
    font-size: 8rem;
  }
}

/* Tablet and below viewport */
@media screen and (max-width: 768px) {
  /* to do font size  */
  h1 {
    font-size: 4rem;
  }
  .body-container {
    flex-direction: column;
  }
  .navbar-container {
    position: fixed;
    width: 100vw;
    flex-basis: 10%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1))
      rgba(100, 100, 99, 0.589);
  }
  .navbar-items-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }
  .main-container {
    margin-top: 10rem;
  }
  .card {
    width: 80%;
  }
  .navbar-container ul li {
    margin-top: 0;
    /* to do figure this out */
    justify-content: space-evenly;
  }
}
